<!DOCTYPE html>
<html class="wide wow-animation" lang="{{@site.lang}}">
    <head>
        <!-- Site Title-->
        <title>Classic Blog</title>
        {{> "tech-meta"}}
        {{> "stylesheets"}}
        {{ghost_head}}
        {{> "iecss"}}
    </head>
    <body class="{{body_class}}">
        {{> "pre-loader"}}
        {{> "iewarning"}}
        {{{body}}}       
    </body>
        {{> "scripts"}}
    
</html>
